<% unless notice.blank? %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>
<% unless flash[:error].blank? %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>
<%= form_tag('/login') do %>
  <fieldset>
    <legend><%=  t("please_log_in") %></legend>
    <div>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div>
      <%= submit_tag t("sign_in"), :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
<p><%= link_to t("sign_up"), signup_path %></p>